@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/logoCentral.png" width="700" height="500"/>

    @*<h1 class="display-4">Seja Bem Vindo</h1>
    <p>@User.Identity.Name!</p>*@
</div>
