@model S.NotaAtualizacao.Models.NotaAtualizacaoItem

@{
    ViewData["Title"] = "Nota de Atualização";
}

<h4>Nova Nota de Atualização</h4>
<hr />
<div class="row">
    <div class="col">

    </div>
    <div class="col-12">
        <form asp-action="ImpressaoGeral" formtarget="_blank" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div id="DadosGerais" class="p-2">
                <label class="control-label font-weight-bold">Dados Gerais</label>
                <div class="row mt-2">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label asp-for="Ocorrencia" class="control-label mb-0 font-weight-bold small"></label>
                            <input asp-for="Ocorrencia" class="form-control" min="0" />
                            <span asp-validation-for="Ocorrencia" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label asp-for="Chamado" class="control-label mb-0 font-weight-bold small"></label>
                            <input asp-for="Chamado" class="form-control" />
                            <span asp-validation-for="Chamado" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-sm col-md col-lg">
                        <div class="form-group">
                            <label class="control-label mb-0 font-weight-bold small">Cliente</label>
                            <select asp-for="CodigoCliente" class="form-control custom-select" asp-items="ViewBag.CodigoCliente"></select>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col align-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-sm btn-warning disabled" disabled>Voltar</button>
                            <button type="button" class="btn btn-sm btn-primary" onclick="BotaoDadosGeraisProximo()">Proximo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="VisaoGeral" class=" p-3">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="VisaoGeral" class="control-label font-weight-bold  mb-0"></label>
                            <textarea asp-for="VisaoGeral" class="form-control textarea" rows="10"></textarea>
                            <span asp-validation-for="VisaoGeral" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col align-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-sm btn-warning" onclick="BotaoVisaoGeralAnterior()">Voltar</button>
                            <button type="button" class="btn btn-sm btn-primary" onclick="BotaoVisaoGeralProximo()">Proximo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Detalhes" class=" p-2">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Detalhes" class="control-label font-weight-bold  mb-0"></label>
                            <textarea asp-for="Detalhes" class="form-control textarea" rows="10"></textarea>
                            <span asp-validation-for="Detalhes" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col align-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-sm btn-warning" onclick="BotaoDetalhesAnterior()">Voltar</button>
                            <button type="button" class="btn btn-sm btn-primary" onclick="BotaoDetalhesProximo()">Proximo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="AnaliseAjuste" class=" p-2">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="AnaliseAjuste" class="control-label font-weight-bold  mb-0"></label>
                            <textarea asp-for="AnaliseAjuste" class="form-control textarea" rows="105"></textarea>
                            <span asp-validation-for="AnaliseAjuste" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col align-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-sm btn-warning" onclick="BotaoAnaliseAjusteAnterior()">Voltar</button>
                            <button type="button" class="btn btn-sm btn-primary" onclick="BotaoAnaliseAjusteProximo()">Proximo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Imagens" class="card p-2">
                <label class="control-label font-weight-bold mb-3">Imagens</label>
                <div>
                    <div class="row mt-2">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="custom-file">
                                        <input type="file" name="img1" class="custom-file-input" id="imagem1" lang="pt">
                                        <label class="custom-file-label" for="imagem1">Selecionar Imagem</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea style="font-size: 10px;" asp-for="Descricao1" class="form-control mt-1" rows="3" placeholder="Legenda"></textarea>
                                    <span asp-validation-for="Descricao1" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="custom-file">
                                        <input type="file" name="img2" class="custom-file-input" id="imagem2">
                                        <label class="custom-file-label" for="imagem2">Selecionar Imagem</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea style="font-size: 10px;" asp-for="Descricao2" class="form-control mt-1" rows="3" placeholder="Legenda"></textarea>
                                    <span asp-validation-for="Descricao2" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="custom-file">
                                        <input type="file" name="img3" class="custom-file-input" id="imagem3">
                                        <label class="custom-file-label" for="imagem3">Selecionar Imagem</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea style="font-size: 10px;" asp-for="Descricao3" class="form-control mt-1" rows="3" placeholder="Legenda"></textarea>
                                    <span asp-validation-for="Descricao3" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="custom-file">
                                        <input type="file" name="img4" class="custom-file-input" id="imagem4">
                                        <label class="custom-file-label" for="imagem4">Selecionar Imagem</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea style="font-size: 10px;" asp-for="Descricao4" class="form-control mt-1" rows="3" placeholder="Legenda"></textarea>
                                    <span asp-validation-for="Descricao4" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-right">
                    <div class="col align-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-sm btn-warning" onclick="BotaoImagensAnterior()">Voltar</button>
                            <input type="submit" value="Gerar Nota de Atualização" class="btn btn-sm btn-success" />
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="col">

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
