@model S.NotaAtualizacao.Models.Clientes

@{
    ViewData["Title"] = "Excluir Cliente";
}

<h4>Excluir Cliente</h4>
<div>
    <h5>Tem certeza de que deseja excluir?</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sigla)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Codigo" />
        <a asp-action="Index" class="btn btn-sm btn-warning">Voltar</a>
        <input type="submit" value="Excluir" class="btn btn-sm btn-danger" />
    </form>
</div>
